<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;" lang="ru">
<head>
	<title>Клиенты</title>
	<script>
		function getAllClients() {
			const allClientsDataContainer = document.getElementById('allClientsDataContainer');
    fetch('/api/clients/')
        .then(response => response.json())
        .then(clients => allClientsDataContainer.innerHTML = JSON.stringify(clients));
		}

		function saveClient(event) {
			event.preventDefault();

			const name = document.getElementById('name').value;
			const address = document.getElementById('address').value;
			const phone = document.getElementById('phone').value;

			fetch('api/clients/', {
				method: 'POST',
				headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
				body: new URLSearchParams({ name, address, phones: phone })
			})
			.then(response => {
				if (response.ok) {
					alert("Клиент сохранён!");
					getAllClients();
					document.getElementById('name').value = '';
					document.getElementById('address').value = '';
					document.getElementById('phone').value = '';
				} else {
					alert("Ошибка при сохранении клиента");
				}
			});
		}
	</script>
</head>

<body>
<h4>Сохранить клиента</h4>
<form onsubmit="saveClient(event)">
	<label>
		Name <br/>
		<input type="text" id="name" name="name" value="Sergei">
	</label>
	<br/>
	<label>
		Address<br/>
		<input type="text" id="address" name="address" value="Kirova street">
	</label>
	<br/>
	<label>
		Phone<br/>
		<input type="text" id="phone" name="phone" value="+79521234567">
	</label>
	<br/><br/>
	<input type="submit" value="Сохранить">
</form>


<h4>Получить список клиентов</h4>
<button onclick="getAllClients()">Получить всех клиентов</button>
<pre id="allClientsDataContainer"></pre>
</body>
</html>